In [519]:
import os
import pandas as pd
import os
import pandas as pd
from xgboost import XGBClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier, export_graphviz,DecisionTreeRegressor
from sklearn.metrics import accuracy_score,classification_report, recall_score, precision_score,confusion_matrix,mean_absolute_error,mean_squared_error, f1_score


!pip install imbalanced-learn
from imblearn.over_sampling import SMOTE


path = os.getcwd()

Requirement already satisfied: imbalanced-learn in c:\users\gurudut\appdata\local\continuum\anaconda3\lib\site-packages (0.4.3)
Requirement already satisfied: numpy>=1.8.2 in c:\users\gurudut\appdata\local\continuum\anaconda3\lib\site-packages (from imbalanced-learn) (1.15.1)
Requirement already satisfied: scipy>=0.13.3 in c:\users\gurudut\appdata\local\continuum\anaconda3\lib\site-packages (from imbalanced-learn) (1.1.0)
Requirement already satisfied: scikit-learn>=0.20 in c:\users\gurudut\appdata\local\continuum\anaconda3\lib\site-packages (from imbalanced-learn) (0.20.2)

You are using pip version 18.1, however version 19.0.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [520]:
os.chdir("C:\All Biz Docs\R Docs\CSE7305c_CUTe_ProblemDescription_and_Dataset")

In [521]:
import warnings
warnings.filterwarnings('ignore')

In [522]:
tr = pd.read_csv("train.csv")
tr.shape

(31283, 66)

In [523]:
print("The columns in the data set are : \n",list(tr.columns))

The columns in the data set are :
 ['ID', 'Attr1', 'Attr2', 'Attr3', 'Attr4', 'Attr5', 'Attr6', 'Attr7', 'Attr8', 'Attr9', 'Attr10', 'Attr11', 'Attr12', 'Attr13', 'Attr14', 'Attr15', 'Attr16', 'Attr17', 'Attr18', 'Attr19', 'Attr20', 'Attr21', 'Attr22', 'Attr23', 'Attr24', 'Attr25', 'Attr26', 'Attr27', 'Attr28', 'Attr29', 'Attr30', 'Attr31', 'Attr32', 'Attr33', 'Attr34', 'Attr35', 'Attr36', 'Attr37', 'Attr38', 'Attr39', 'Attr40', 'Attr41', 'Attr42', 'Attr43', 'Attr44', 'Attr45', 'Attr46', 'Attr47', 'Attr48', 'Attr49', 'Attr50', 'Attr51', 'Attr52', 'Attr53', 'Attr54', 'Attr55', 'Attr56', 'Attr57', 'Attr58', 'Attr59', 'Attr60', 'Attr61', 'Attr62', 'Attr63', 'Attr64', 'target']

In [524]:
print("The data types of the columns are :\n ",tr.dtypes)

The data types of the columns are :
  ID          int64
Attr1     float64
Attr2     float64
Attr3     float64
Attr4     float64
Attr5     float64
Attr6     float64
Attr7     float64
Attr8     float64
Attr9     float64
Attr10    float64
Attr11    float64
Attr12    float64
Attr13    float64
Attr14    float64
Attr15    float64
Attr16    float64
Attr17    float64
Attr18    float64
Attr19    float64
Attr20    float64
Attr21    float64
Attr22    float64
Attr23    float64
Attr24    float64
Attr25    float64
Attr26    float64
Attr27    float64
Attr28    float64
Attr29    float64
           ...
Attr36    float64
Attr37    float64
Attr38    float64
Attr39    float64
Attr40    float64
Attr41    float64
Attr42    float64
Attr43    float64
Attr44    float64
Attr45    float64
Attr46    float64
Attr47    float64
Attr48    float64
Attr49    float64
Attr50    float64
Attr51    float64
Attr52    float64
Attr53    float64
Attr54    float64
Attr55    float64
Attr56    float64
Attr57    float64
Attr58    float64
Attr59    float64
Attr60    float64
Attr61    float64
Attr62    float64
Attr63    float64
Attr64    float64
target      int64
Length: 66, dtype: object

In [525]:
tr.head(10)

,ID,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,target
0,1,0.135370,0.451850,0.311620,2.0469,10.23400,0.167680,0.167630,1.21310,2.25540,...,0.078728,0.246950,0.92586,0.18362,9.0895,8.8342,48.1720,7.5770,5.7725,0
1,2,0.005861,0.398580,0.197680,1.9390,9.57710,0.000000,0.007237,1.50890,0.97880,...,0.269720,0.000000,0.79303,0.31271,6.2213,4.2785,78.4990,4.6497,1.6539,0
2,3,0.110600,0.161170,0.478940,7.5711,263.90000,0.000000,0.138360,5.20450,0.68447,...,0.159870,0.131850,0.80748,0.10234,9.4499,3.3443,38.8670,9.3910,1.5272,0
3,4,0.063911,1.407300,-0.295950,0.5291,-46.28700,-0.714200,0.079071,-0.33076,0.98490,...,-0.015327,-0.137300,1.01530,-1.67320,29.2710,14.1410,73.4580,4.9688,4.6785,0
4,5,0.131680,0.660310,0.441210,2.7098,-23.59600,-0.200070,0.131910,0.51445,2.13570,...,0.110170,0.387640,0.93881,1.18420,4.5462,15.1400,44.1010,8.2764,7.1014,0
5,6,0.254110,0.022149,0.696940,33.2270,86.64000,0.000000,0.254110,44.14900,1.97160,...,0.122750,0.259860,0.87268,0.00000,6.8375,5.3717,4.0034,91.1710,7.0057,0
6,7,0.325890,0.072556,0.577620,9.0403,96.82400,0.000000,0.403660,12.78300,1.49160,...,0.264550,0.351380,0.73129,0.00000,45.3300,9.6805,17.5800,20.7620,4.2551,0
7,8,0.001252,0.587030,-0.047195,0.9196,-124.00000,-0.068816,0.001252,0.70348,2.04740,...,0.551420,0.003031,0.46775,0.00000,7.9752,7.3650,104.6500,3.4877,4.4493,0
8,9,-0.015104,0.236210,0.593250,3.9253,37.80600,0.000000,-0.015104,3.23360,1.21440,...,-0.098839,-0.019775,1.01130,0.00000,2.6705,13.2400,60.9530,5.9883,5.9544,0
9,10,0.147420,0.367020,0.286830,2.3412,-0.80799,0.147420,0.182010,1.72460,1.10830,...,0.097722,0.232900,0.90228,0.24198,7.1806,10.5760,37.3550,9.7712,4.1849,0

In [526]:
tr.describe(include='all')

,ID,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,target
count,31283.000000,31276.000000,31276.000000,31276.000000,31181.000000,3.122000e+04,31276.000000,31276.000000,31210.000000,31279.000000,...,3.118200e+04,31277.000000,3.121500e+04,31277.000000,2.971300e+04,31210.000000,3.118200e+04,31181.000000,30682.000000,31283.000000
mean,15642.000000,0.051612,0.551159,0.151249,7.321993,-1.706215e+02,-0.011735,0.120577,14.379693,2.783840,...,-3.637422e+01,-0.007774,4.067219e+01,1.677983,5.462892e+02,15.227988,1.640595e+03,9.656775,81.529420,0.048301
std,9030.768572,1.748230,4.510523,3.754494,347.736044,2.392279e+04,5.489446,6.045041,562.011982,69.973455,...,6.276744e+03,13.989982,6.283661e+03,143.470467,3.792399e+04,219.335078,1.515043e+05,142.374215,2726.762529,0.214405
min,1.000000,-256.890000,-430.870000,-479.730000,-0.045319,-2.722100e+06,-508.120000,-517.480000,-15.236000,-3.496000,...,-1.108300e+06,-1667.300000,-1.986900e+02,-327.970000,-1.244000e+01,-6.590300,-1.496500e+04,-0.367890,-3.726500,0.000000
25%,7821.500000,0.003360,0.269397,0.022146,1.051000,-4.845300e+01,0.000000,0.005758,0.428970,1.018100,...,8.919150e-03,0.014690,8.751350e-01,0.000000,5.533000e+00,4.523400,4.205425e+01,3.099200,2.180375,0.000000
50%,15642.000000,0.049686,0.472685,0.196770,1.571000,-7.813950e-01,0.000000,0.059707,1.068650,1.196700,...,5.306150e-02,0.120460,9.507600e-01,0.005453,9.763000e+00,6.652750,7.120750e+01,5.090700,4.289950,0.000000
75%,23462.500000,0.130523,0.689240,0.403983,2.797800,5.076850e+01,0.087633,0.151895,2.606850,2.060550,...,1.294750e-01,0.286740,9.927900e-01,0.234840,2.014500e+01,10.417750,1.170400e+02,8.618600,9.788950,0.000000
max,31283.000000,94.280000,480.730000,28.336000,53433.000000,1.034100e+06,543.250000,649.230000,53432.000000,9742.300000,...,1.120200e+02,552.640000,1.108300e+06,23853.000000,4.818700e+06,26862.000000,2.501600e+07,23454.000000,294770.000000,1.000000

In [527]:
tr['target']=tr['target'].astype('category')

In [528]:
tr["target"].value_counts()/tr.shape[0]

0    0.951699
1    0.048301
Name: target, dtype: float64

In [529]:
tr=tr.drop(["ID"],axis=1)
tr=tr.drop(["Attr37"],axis=1)
tr=tr.drop(["Attr21"],axis=1)

In [530]:
tr.shape
tr.head(3)

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,target
0,0.135370,0.45185,0.31162,2.0469,10.2340,0.16768,0.167630,1.2131,2.25540,0.54815,...,0.078728,0.24695,0.92586,0.18362,9.0895,8.8342,48.172,7.5770,5.7725,0
1,0.005861,0.39858,0.19768,1.9390,9.5771,0.00000,0.007237,1.5089,0.97880,0.60142,...,0.269720,0.00000,0.79303,0.31271,6.2213,4.2785,78.499,4.6497,1.6539,0
2,0.110600,0.16117,0.47894,7.5711,263.9000,0.00000,0.138360,5.2045,0.68447,0.83883,...,0.159870,0.13185,0.80748,0.10234,9.4499,3.3443,38.867,9.3910,1.5272,0

In [531]:
tr.isnull().sum()

Attr1        7
Attr2        7
Attr3        7
Attr4      102
Attr5       63
Attr6        7
Attr7        7
Attr8       73
Attr9        4
Attr10       7
Attr11      32
Attr12     102
Attr13     101
Attr14       7
Attr15      25
Attr16      74
Attr17      73
Attr18       7
Attr19     102
Attr20     101
Attr22       7
Attr23     101
Attr24     680
Attr25       7
Attr26      74
Attr27    2004
Attr28     601
Attr29       7
Attr30     101
Attr31     101
          ...
Attr35       7
Attr36       7
Attr38       7
Attr39     101
Attr40     102
Attr41     539
Attr42     101
Attr43     101
Attr44     101
Attr45    1566
Attr46     102
Attr47     207
Attr48       8
Attr49     101
Attr50      73
Attr51       7
Attr52     212
Attr53     601
Attr54     601
Attr55       0
Attr56     101
Attr57       6
Attr58      68
Attr59       6
Attr60    1570
Attr61      73
Attr62     101
Attr63     102
Attr64     601
target       0
Length: 63, dtype: int64

In [532]:
colnames = tr.columns[tr.isnull().sum()>0]

In [533]:
colnames

Index(['Attr1', 'Attr2', 'Attr3', 'Attr4', 'Attr5', 'Attr6', 'Attr7', 'Attr8',
       'Attr9', 'Attr10', 'Attr11', 'Attr12', 'Attr13', 'Attr14', 'Attr15',
       'Attr16', 'Attr17', 'Attr18', 'Attr19', 'Attr20', 'Attr22', 'Attr23',
       'Attr24', 'Attr25', 'Attr26', 'Attr27', 'Attr28', 'Attr29', 'Attr30',
       'Attr31', 'Attr32', 'Attr33', 'Attr34', 'Attr35', 'Attr36', 'Attr38',
       'Attr39', 'Attr40', 'Attr41', 'Attr42', 'Attr43', 'Attr44', 'Attr45',
       'Attr46', 'Attr47', 'Attr48', 'Attr49', 'Attr50', 'Attr51', 'Attr52',
       'Attr53', 'Attr54', 'Attr56', 'Attr57', 'Attr58', 'Attr59', 'Attr60',
       'Attr61', 'Attr62', 'Attr63', 'Attr64'],
      dtype='object')

In [534]:
for i in colnames:
   tr[i].fillna(tr[i].median(), inplace=True)

In [535]:
sum(tr.isnull().sum())

print(list(tr.columns))

#removing Colinear features

['Attr1', 'Attr2', 'Attr3', 'Attr4', 'Attr5', 'Attr6', 'Attr7', 'Attr8', 'Attr9', 'Attr10', 'Attr11', 'Attr12', 'Attr13', 'Attr14', 'Attr15', 'Attr16', 'Attr17', 'Attr18', 'Attr19', 'Attr20', 'Attr22', 'Attr23', 'Attr24', 'Attr25', 'Attr26', 'Attr27', 'Attr28', 'Attr29', 'Attr30', 'Attr31', 'Attr32', 'Attr33', 'Attr34', 'Attr35', 'Attr36', 'Attr38', 'Attr39', 'Attr40', 'Attr41', 'Attr42', 'Attr43', 'Attr44', 'Attr45', 'Attr46', 'Attr47', 'Attr48', 'Attr49', 'Attr50', 'Attr51', 'Attr52', 'Attr53', 'Attr54', 'Attr55', 'Attr56', 'Attr57', 'Attr58', 'Attr59', 'Attr60', 'Attr61', 'Attr62', 'Attr63', 'Attr64', 'target']

In [536]:
print(list(tr.columns))

['Attr1', 'Attr2', 'Attr3', 'Attr4', 'Attr5', 'Attr6', 'Attr7', 'Attr8', 'Attr9', 'Attr10', 'Attr11', 'Attr12', 'Attr13', 'Attr14', 'Attr15', 'Attr16', 'Attr17', 'Attr18', 'Attr19', 'Attr20', 'Attr22', 'Attr23', 'Attr24', 'Attr25', 'Attr26', 'Attr27', 'Attr28', 'Attr29', 'Attr30', 'Attr31', 'Attr32', 'Attr33', 'Attr34', 'Attr35', 'Attr36', 'Attr38', 'Attr39', 'Attr40', 'Attr41', 'Attr42', 'Attr43', 'Attr44', 'Attr45', 'Attr46', 'Attr47', 'Attr48', 'Attr49', 'Attr50', 'Attr51', 'Attr52', 'Attr53', 'Attr54', 'Attr55', 'Attr56', 'Attr57', 'Attr58', 'Attr59', 'Attr60', 'Attr61', 'Attr62', 'Attr63', 'Attr64', 'target']

In [537]:
print(list(tr.columns))

['Attr1', 'Attr2', 'Attr3', 'Attr4', 'Attr5', 'Attr6', 'Attr7', 'Attr8', 'Attr9', 'Attr10', 'Attr11', 'Attr12', 'Attr13', 'Attr14', 'Attr15', 'Attr16', 'Attr17', 'Attr18', 'Attr19', 'Attr20', 'Attr22', 'Attr23', 'Attr24', 'Attr25', 'Attr26', 'Attr27', 'Attr28', 'Attr29', 'Attr30', 'Attr31', 'Attr32', 'Attr33', 'Attr34', 'Attr35', 'Attr36', 'Attr38', 'Attr39', 'Attr40', 'Attr41', 'Attr42', 'Attr43', 'Attr44', 'Attr45', 'Attr46', 'Attr47', 'Attr48', 'Attr49', 'Attr50', 'Attr51', 'Attr52', 'Attr53', 'Attr54', 'Attr55', 'Attr56', 'Attr57', 'Attr58', 'Attr59', 'Attr60', 'Attr61', 'Attr62', 'Attr63', 'Attr64', 'target']

In [538]:
from sklearn.model_selection import train_test_split

In [539]:
y=tr["target"]
X=tr.drop('target', axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [540]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

type(X_train)
type(X_test)
type(y_train)
type(y_test)

(25026, 62)
(6257, 62)
(25026,)
(6257,)

pandas.core.series.Series

In [541]:
X_train.head()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr55,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64
11992,-0.024837,0.75638,0.22982,3.1696,68.764,0.000000,-0.024837,0.32209,1.38590,0.24362,...,824.2700,0.387700,-0.101950,0.662530,2.660200,20.731,8.6594,27.896,13.0840,2.0864
22154,0.000000,0.25117,0.27352,2.4658,542.810,0.646620,0.159110,2.98140,1.24880,0.74883,...,68630.0000,0.434830,0.000000,0.575680,0.000186,15.415,3.6794,54.542,6.6921,2.3131
26887,0.040839,0.28971,0.32129,2.9615,446.930,0.011861,0.054492,2.45170,0.89756,0.71029,...,2.9615,1.000000,0.057496,0.044893,0.170010,2.778,6.2717,66.610,5.4796,1.7431
26004,-0.039759,0.63665,0.28593,3.4585,-1042.000,-0.064295,-0.039759,0.57072,1.54220,0.36335,...,779.3600,-0.019465,-0.109420,1.031100,1.432100,92.834,16.1910,27.525,13.2600,2.5800
17604,0.083324,0.89772,0.37334,1.6459,57.288,0.000000,0.105650,0.11393,2.53900,0.10228,...,1029.1000,0.064091,0.814670,0.958390,0.000000,9.763,3.2954,83.091,4.3928,52.1840

In [542]:
from sklearn.preprocessing import StandardScaler
num_atr=X_train.select_dtypes(['int64','float64']).columns
num_atr

Index(['Attr1', 'Attr2', 'Attr3', 'Attr4', 'Attr5', 'Attr6', 'Attr7', 'Attr8',
       'Attr9', 'Attr10', 'Attr11', 'Attr12', 'Attr13', 'Attr14', 'Attr15',
       'Attr16', 'Attr17', 'Attr18', 'Attr19', 'Attr20', 'Attr22', 'Attr23',
       'Attr24', 'Attr25', 'Attr26', 'Attr27', 'Attr28', 'Attr29', 'Attr30',
       'Attr31', 'Attr32', 'Attr33', 'Attr34', 'Attr35', 'Attr36', 'Attr38',
       'Attr39', 'Attr40', 'Attr41', 'Attr42', 'Attr43', 'Attr44', 'Attr45',
       'Attr46', 'Attr47', 'Attr48', 'Attr49', 'Attr50', 'Attr51', 'Attr52',
       'Attr53', 'Attr54', 'Attr55', 'Attr56', 'Attr57', 'Attr58', 'Attr59',
       'Attr60', 'Attr61', 'Attr62', 'Attr63', 'Attr64'],
      dtype='object')

In [543]:
#scaler = StandardScaler() ## object intitation
#scaler.fit(X_train[num_atr])

In [544]:
#scaler.mean_

In [545]:
#X_train[num_atr]=scaler.transform(X_train[num_atr])
#X_test[num_atr]=scaler.transform(X_test[num_atr])

In [546]:
print(X_train.shape)
print(X_test.shape)

(25026, 62)
(6257, 62)

In [547]:
X_train.describe(include='all')

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr55,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64
count,25026.000000,25026.000000,25026.000000,25026.000000,2.502600e+04,25026.000000,25026.000000,25026.000000,25026.000000,25026.000000,...,2.502600e+04,2.502600e+04,25026.000000,2.502600e+04,25026.000000,2.502600e+04,25026.000000,2.502600e+04,25026.000000,25026.000000
mean,0.055018,0.519179,0.180282,6.808144,-1.177040e+02,0.021609,0.134623,14.656768,3.014006,0.788383,...,7.881001e+03,-4.529982e+01,0.032639,5.027479e+01,0.767860,6.006877e+02,14.075098,1.879766e+03,9.612763,75.856052
std,1.896842,2.891967,0.759228,345.287824,1.902919e+04,4.537584,6.743195,588.686797,78.160787,16.538376,...,7.041228e+04,7.006329e+03,7.840264,7.017737e+03,25.880619,4.123613e+04,111.085941,1.687581e+05,150.691103,2192.823608
min,-256.890000,-430.870000,-53.233000,0.000000,-1.670200e+06,-90.817000,-517.480000,-15.236000,-3.496000,-53.233000,...,-1.805200e+06,-1.108300e+06,-597.420000,-1.986900e+02,-327.970000,0.000000e+00,-6.590300,-1.496500e+04,-0.367890,-0.001021
25%,0.003346,0.267957,0.021639,1.050100,-4.890775e+01,0.000000,0.005822,0.430820,1.018200,0.295283,...,2.781000e+01,9.376775e-03,0.014540,8.742925e-01,0.000000,5.702300e+00,4.528225,4.227900e+01,3.091525,2.201450
50%,0.049732,0.472440,0.196355,1.571000,-7.813950e-01,0.000000,0.059934,1.068650,1.193800,0.505755,...,1.054950e+03,5.306150e-02,0.120240,9.504400e-01,0.005458,9.763000e+00,6.652750,7.120750e+01,5.090700,4.289950
75%,0.131387,0.688558,0.405970,2.799575,5.116450e+01,0.087755,0.152325,2.626150,2.055575,0.709793,...,4.944200e+03,1.304800e-01,0.287265,9.925175e-01,0.232347,1.912025e+01,10.431250,1.174275e+02,8.549425,9.556875
max,94.280000,54.233000,28.336000,53433.000000,9.909000e+05,543.250000,649.230000,53432.000000,9742.300000,1099.500000,...,4.398400e+06,1.120200e+02,126.670000,1.108300e+06,2517.700000,4.818700e+06,12296.000000,2.501600e+07,23454.000000,229090.000000

In [548]:
#X_train1=X_train[~((X_train<(-3))|(X_train>3)).any(axis=1)]

In [549]:
#rown=X_train[~((X_train<(-3))|(X_train>3)).any(axis=1)].index

In [550]:
#rown

In [551]:
#y_train1=y_train[rown]

In [552]:
#y_train1.shape

In [553]:
#X_train1.shape

In [554]:
#X_train1.describe(include='all')

In [555]:
#print(X_train1.shape)
#print(X_test.shape)

In [556]:
from imblearn.over_sampling import SMOTE
columns=X_train.columns
columns

Index(['Attr1', 'Attr2', 'Attr3', 'Attr4', 'Attr5', 'Attr6', 'Attr7', 'Attr8',
       'Attr9', 'Attr10', 'Attr11', 'Attr12', 'Attr13', 'Attr14', 'Attr15',
       'Attr16', 'Attr17', 'Attr18', 'Attr19', 'Attr20', 'Attr22', 'Attr23',
       'Attr24', 'Attr25', 'Attr26', 'Attr27', 'Attr28', 'Attr29', 'Attr30',
       'Attr31', 'Attr32', 'Attr33', 'Attr34', 'Attr35', 'Attr36', 'Attr38',
       'Attr39', 'Attr40', 'Attr41', 'Attr42', 'Attr43', 'Attr44', 'Attr45',
       'Attr46', 'Attr47', 'Attr48', 'Attr49', 'Attr50', 'Attr51', 'Attr52',
       'Attr53', 'Attr54', 'Attr55', 'Attr56', 'Attr57', 'Attr58', 'Attr59',
       'Attr60', 'Attr61', 'Attr62', 'Attr63', 'Attr64'],
      dtype='object')

In [557]:
from imblearn.over_sampling import SMOTE

columns=X_train.columns

sm=SMOTE(random_state=123,sampling_strategy='minority')

X_train_res, y_train_res = sm.fit_sample(X_train, y_train.ravel())
X_train_res=pd.DataFrame(X_train_res,columns=columns)
y_train_res=pd.DataFrame(y_train_res,columns=['target'])

In [558]:
# XG Boost Model

In [559]:
XGB_model = XGBClassifier(n_estimators=450, gamma=0.3,learning_rate=0.4)

In [560]:
XGB_model.fit(X_train_res, y_train_res)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0.3, learning_rate=0.4, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=450,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [561]:
y_pred = XGB_model.predict(X_test)
print(accuracy_score(y_test,y_pred))
print(recall_score(y_test,y_pred,pos_label=1))
print(precision_score(y_test,y_pred,pos_label=1))
print(f1_score(y_test,y_pred,pos_label=1))
print()
y_pred1 = XGB_model.predict(X_train)
print(accuracy_score(y_train,y_pred1))
print(recall_score(y_train,y_pred1,pos_label=1))

0.9681956209045869
0.6176470588235294
0.6974169741697417
0.6551126516464472

0.998521537600895
0.979253112033195

In [562]:
tdata=pd.read_csv("test.csv")

In [563]:
ID=tdata["ID"]

In [564]:
colnamest=tdata.columns[tdata.isnull().sum()>0]

In [565]:
for column in colnamest:
    tdata[column].fillna(tdata[column].median(), inplace=True)

In [566]:
#tdata.isnull().sum()

In [567]:
tdata=tdata.drop(["ID"],axis=1)

In [568]:
tdata=tdata.drop(["Attr37"],axis=1)

In [569]:
tdata=tdata.drop(["Attr21"],axis=1)

In [570]:
from sklearn.preprocessing import StandardScaler
num_atr=tdata.select_dtypes(['int64','float64']).columns
num_atr

Index(['Attr1', 'Attr2', 'Attr3', 'Attr4', 'Attr5', 'Attr6', 'Attr7', 'Attr8',
       'Attr9', 'Attr10', 'Attr11', 'Attr12', 'Attr13', 'Attr14', 'Attr15',
       'Attr16', 'Attr17', 'Attr18', 'Attr19', 'Attr20', 'Attr22', 'Attr23',
       'Attr24', 'Attr25', 'Attr26', 'Attr27', 'Attr28', 'Attr29', 'Attr30',
       'Attr31', 'Attr32', 'Attr33', 'Attr34', 'Attr35', 'Attr36', 'Attr38',
       'Attr39', 'Attr40', 'Attr41', 'Attr42', 'Attr43', 'Attr44', 'Attr45',
       'Attr46', 'Attr47', 'Attr48', 'Attr49', 'Attr50', 'Attr51', 'Attr52',
       'Attr53', 'Attr54', 'Attr55', 'Attr56', 'Attr57', 'Attr58', 'Attr59',
       'Attr60', 'Attr61', 'Attr62', 'Attr63', 'Attr64'],
      dtype='object')

In [571]:
#scaler = StandardScaler() ## object intitation
#scaler.fit(tdata[num_atr])

In [572]:
#tdata[num_atr]=scaler.transform(tdata[num_atr])

In [573]:
prediction=XGB_model.predict(tdata)

In [574]:
data={'ID':ID,'prediction':prediction}

In [575]:
df=pd.DataFrame(data)

In [576]:
df.head()

      ID  prediction
0  36554           0
1  36555           0
2  36556           0
3  36557           0
4  36558           0

In [577]:
df.to_csv("Submission_XGB_nonsmote.csv",index=False)